:root {
    --menu-width: 25px;
    --menu-height: 21px;
    --bar-height: 3px;
    --timing-animation: .3s;
}
body {
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d4d4;
    width: 100vh;
    height: 100vh;
}
.menuIcon {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--menu-width);
    height: var(--menu-height);
}
.menuIcon__bar {
    position: absolute;
    background-color: white;
    height: var(--bar-height);
    width: var(--menu-width);
    transition: opacity 0s var(--timing-animation), top var(--timing-animation) var(--timing-animation), bottom var(--timing-animation) var(--timing-animation), transform var(--timing-animation);
}
.menuIcon__bar:nth-child(1) {
    top: 0;
}
.menuIcon__bar:nth-child(3) {
    bottom: 0;
}
.menuIcon--isActive .menuIcon__bar {
    transition: opacity 0s var(--timing-animation), top var(--timing-animation), bottom var(--timing-animation), transform var(--timing-animation) var(--timing-animation);
}
.menuIcon--isActive .menuIcon__bar:nth-child(1) {
    transform: rotate(45deg);
    top: calc(50% - calc(var(--bar-height) / 2));
}
.menuIcon--isActive .menuIcon__bar:nth-child(3) {
    transform: rotate(-45deg);
    bottom: calc(50% - calc(var(--bar-height) / 2));
}
.menuIcon--isActive .menuIcon__bar:nth-child(2) {
    opacity: 0;
}
